ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li{
    display: inline;
}

body{
    font: 15px Arial, sans-serif;
	text-shadow: 1px 1px 24px #999999;
    background: #20207a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #20207a, #035c41);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #20207a, #035c41); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background-image: url("https://m.gjcdn.net/game-header/1300/377149-crop0_0_1440_533-yyssvgze-v4.webp");
    background-size: 100%;*/
    
    
}
body.bg-utrcraft{
    background-image: url("https://m.gjcdn.net/game-header/1300/377149-crop0_0_1440_533-yyssvgze-v4.webp");
    background-size: 100% 100%;
}
body.bg-timeprogress{
    background-image: url("https://images.rawpixel.com/image_social_landscape/cHJpdmF0ZS9zdGF0aWMvaW1hZ2Uvd2Vic2l0ZS8yMDIyLTA0L2xyL3B4MTA4MjQ2Ny1pbWFnZS1rd3Z3YzFrNi5qcGc.jpg");
    background-size: 100%;
}

body div{
    background-color: bisque;
    margin: 12px;
    padding: 12px;
    display: inline-block;
    border-radius: 12px;
    box-shadow: rgba(0,0,0,0.3) 0px 0px 10px;
}

div.content{

    width: calc(75% - 50px);
    background-color: white;
}

div.sidebar{
    float: right;
    width: calc(25% - 50px);
    background-color: white;
}
div.title{
    box-shadow: rgba(0,0,0,0) 0px 0px 0px;
    background-color: rgba(0,0,0,0.01);
    color: white;
    width: calc(100% - 50px);
    vertical-align: middle;
    display: flex;
  align-items: center;

}

div.sidebar iframe{
    border-radius: 0px;
    border-width: 0px;
    width: 100%;
    height: 100%;
}

div.frostedsidebar iframe{
    border-radius: 0px;
    border-width: 0px;
    width: 100%;
    height: 100%;
}

div.title img{   
    width: 42px;
    height: 42px;
}


button{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    border-width: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
    padding: 12px;
    margin: 3px;
    color: white;
    cursor: pointer;

    transition: all .2s ease-in-out; 
}

button.navbarButton{
    background-color: rgba(255, 255, 255, 0.1);
    width: calc(100% / 4 - 10px);


}

button.sidebar{

    width: 100%;
    margin: 0px;
}

button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  button:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  button:hover {
    filter: brightness(150%);
    scale: 1.05;
    transition: all .3s ease-in-out; 
  }

    /* Add a background color on hover */
    button:active {
        filter: brightness(70%);
        scale: 0.95;
        transition: all .15s ease-in-out; 
      }

nav.menu{
    -webkit-animation: changeColor 10s; 
    animation: changeColor 10s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    border-radius: 16px;
    padding: 12px;
    margin: 12px;
    box-shadow: rgba(0,0,0,0.3) 0px 0px 10px;
}

@-webkit-keyframes changeColor {
    0%   {background-color: rgba(140, 0, 255, 0.3);}
    33%  {background-color: rgba(1, 25, 102, 0.3);}
    66%  {background-color: rgba(0, 107, 14, 0.3);}
    100% {background-color: rgba(122, 126, 75, 0.3);}
}

@keyframes changeColor {
    0%   {background-color: rgba(140, 0, 255, 0.3);}
    33%  {background-color: rgba(1, 25, 102, 0.3);}
    66%  {background-color: rgba(0, 107, 14, 0.3);}
    100% {background-color: rgba(122, 126, 75, 0.3);}
}

footer{
    position: sticky;
    left: 0;
    bottom: 0;
    width: calc(75% - 50px);
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    text-align: center;
    scale: 0.8;
    padding: 1px;
    
    border-radius: 12px;
}

iframe.menuiframe {
    border: 0px;
    width: 100%;
    height: 100px;
}

.frosted{
    background: rgba(255, 255, 255, 0.66);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.frosteddark{
    background: rgba(0, 0, 0, 0.33);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 0px solid rgba(255, 255, 255, 0.3);
}

.frostednavi{
    background: rgba(255, 255, 255, 0.66);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    border: 0px solid rgba(255, 255, 255, 0.3);
}

.frostedcontent{
    width: calc(75% - 50px);
    background-color: white;
    background: rgba(255, 255, 255, 0.66);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

input{
    background: rgba(0, 0, 0, 0.33);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 0px solid rgba(255, 255, 255, 0.3);
    color: white;
    margin-left: 20px;
    scale: 1.5;
}

div.frostedsidebar{
    /* From https://css.glass */
    float: right;
    width: calc(25% - 50px);
    background-color: white;
    background: rgba(255, 255, 255, 0.66);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    color: white;
}

.whitetext{
    color: white;
}


@media (max-width: 767px) {
    .hidden-mobile {
      display: none;
    }
    .fullscreen-mobile {
      width: 100%;
    }
    .divpadding-mobile {
      width: 100vw;
      margin: 0px;
      padding: 0px;
      float:left;
    }
    #contentdiv {
    /*width: 95.5%;*/
    width: calc(100% - 50px);
    
}
  }


